@media (max-width: 1199.98px) {
   .page-header {
      padding: 90px 120px;

      &.bigger {
         padding: 90px 120px;
      }

      h2 {
         font-size: 40px;
         letter-spacing: -1px;
      }
   }
}

@media (max-width: 991.98px) {
   .portfolio-showcase {
      .section {

         .img {
            left: 15px;
            right: 60px;
         }

         .caption {
            left: 15px;
            right: 15px;

            h3 {
               font-size: 36px;
               letter-spacing: -1px;
            }
         }
      }

      .owl-nav {
         right: 5px;
      }
   }

   .portfolio-showcase--two {
      .item {
         height: 500px;

         &:nth-child(even) {
            text-align: left;
         }

         .caption {

            h3 {
               font-size: 36px;
               letter-spacing: -.7px;
            }
         }
      }
   }

   .social-media {
      display: none;
   }

   .main-slideshow {
      .item {
         .caption  {
            width: 75%;

            &.right {
               text-align: left;
            }

            h3 {
               font-size: 42px;
               opacity: 0;
               letter-spacing: -1px;
            }
         }
      }
   }

   .pbox {
      padding: 70px 50px;
   }
}


@media (max-width: 767.98px) {
   .site-header {
      padding: 40px 15px 0;
   }

   .page-header {
      margin-top: 90px;
      padding: 60px 15px;

      &.bigger {
         padding: 60px 15px;
      }

      h2 {
         font-size: 32px;
         letter-spacing: -0.7px;
      }
   }

   .grid {
      margin: -15px;

      &.three--columns {
         .item,
         .sizer {
            width: 50%;
         }
      }

      .item,
      .sizer {
         width: 50%;
      }

      .item {
         padding: 15px;
      }
   }

   .sbtn {
      right: 40px;

      &.top-btn {
         bottom: 30px;
      }

      &.project-btn {
         bottom: 100px;
      }
      
      &.share-btn,
      &.filter-btn {
         bottom: 100px;
      }
   }

   .share,
   .filter {
      right: 40px;
   }

   .nav {
      .right {
         display: none;
      }

      .menu {
         margin-top: 35px;
         left: 20%;
         right: 20%;

         ul {

            &.submenu {
               li{
                  a {
                     font-size: 15px;
                  }
               }
            }
         }
      }
   }

   .portfolio-interactive-links {

      ul {
         max-width: 80%;
         margin-top: 30vh;

         li { 
            margin-bottom: 15px;

            h3 {
               font-size: 36px;
               letter-spacing: -1px;
               line-height: 36px;
            }
         }
      }
   }

   .photography-carousel {
      .section {
         h3 {
            bottom: 30px;
            left: 15px;
            font-size: 22px;
         }
      }

      .owl-nav {
         bottom: 30px;
         right: 15px;
      }
   }

   .transition {
      span {
         background: lighten(@black_color, 92%);
      }
   }

   footer.single-nav {
      text-align: center;

      .container {
         position: relative;
      }

      .row {
         padding: 0;
      }

      h3 {
         font-size: 34px;
         letter-spacing: -.7px;
      }

      i {
         top: auto;
         left: 50%;
         bottom: -80px;
         .transform(translate(-50%, 0));
      }
   }

   .isection {
      .row {
         margin: -15px;
      }

      .item {
         padding: 15px;
      }
   }

   .single-carousel {
      .owl-nav {
         right: 15px;
         bottom: 15px;
      }
   }

   .img {
      .caption  {
         left: 15px;
         bottom: 15px;
      }
   }

   .ftwitter {
      .twitter-carousel {
         max-width: 100%;
      }
   }

   .section {
      margin-bottom: 60px;
   }

   .blog {
      &.two--columns {
         margin: -15px;

         .item,
         .sizer {
            width: 100%;
         }

         .item {
            padding: 15px;
         }
      }
   }
}

@media (max-width: 575.98px) {
   .site-header {
      padding: 25px 15px 0;
   }

   .page-header {
      margin-top: 75px;
   }

   .grid {
      &.three--columns {
         .item,
         .sizer {
            width: 100%;
         }
      }

      .item,
      .sizer {
         width: 100%;
      }
   }

   .nav {
      .menu {
         ul {
            li {
               a {
                  font-size: 36px;
                  letter-spacing: -0.7px;
               }
            }
         }
      }
   }
}



